<a class="card-link" [routerLink]="['/book', book.id]">
  <div class="card">
    <img [src]="getCoverUrl()" [alt]="book.title">

    <h3>{{ book.title }}</h3>

    <p>
      <strong>Auteur(s) :</strong>
      {{ book.authorNames.join(', ') || 'Inconnu' }}
    </p>

    <p>
      <strong>Année :</strong>
      {{ book.firstPublishYear || 'Inconnue' }}
    </p>

    <button *ngIf="!estFavori()" (click)="ajouterAuxFavoris($event)">
      Ajouter aux favoris
    </button>

    <button *ngIf="estFavori()" (click)="retirerDesFavoris($event)">
      Retirer des favoris
    </button>

    <button *ngIf="!estDansALire()" (click)="ajouterALire($event)">
      Ajouter à lire
    </button>

    <button *ngIf="estDansALire()" (click)="retirerALire($event)">
      Retirer de à lire
    </button>
  </div>
</a>